<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>

<h1>Stupid Coaching</h1>
<p><%=params[:question]%></p>
<p> - You</p>
<hr>
<p><%= @answer %></p>
<p class="banner"> - Your coach</p>

<%= link_to "Go Back", "/questions/ask" %>
